@charset "UTF-8";

/* Código Front (https://www.codigofront.com.br/)
Copyright 2021-2022 Naira Cirino */

:root {
    /* cores e gradientes */
    --white: #f5f5f5;
    --light-gray: #ebebeb;
    --medium-gray: #747474;
    --dark-gray: #3e3e3e;
    --black: #171717;

    /* tipografia */
    --sans-serif: 'Coolvetica Rg', sans-serif;
    --serif: 'Coolvetica Condensed Rg', serif;
    --cursive: 'Blabla', cursive;
    --monospace: 'Fulana', monospace;
    font-size: 16px;

    /* comportamento de tela */
    scroll-behavior: smooth;
}

/* erasing browser standards */

body, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: inherit;
}

figure {
    margin: 0;
    padding: 0;
}


/* standard styles */

body {
    background-color: var(--white);
    color: var(--medium-gray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    text-transform: uppercase;
}

img {
    object-fit: cover;
    object-position: 50% 50%;
}

.img-square {
    width: 100%;
    height: 100%;
}

.imground {
    border-radius: 50%;
}

.blocktext {
    padding: 2rem;
}

/* header */

nav, .topnavbar, .topnavlinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.topnavbar {
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 1.5rem 3rem;
}

.topnavbarlogo {
    height: 1.5rem;
}

.topnavmenu {
    color: var(--dark-gray);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 80%;
}

.topnavmenu i {
    color: var(--dark-gray);
}

/* herobanner */

.herobanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/herobg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.heroglass {
    margin: 0 2rem;
    padding: 1rem;
    background-color: #ebebebc7;
}

.herotext {
    opacity: 1;
}

.ctabutton {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-gray);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--black);
    padding: .5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-box-shadow: 2px 2px 4px 0 #5c5c5c;
    box-shadow: 2px 2px 4px 0 #5c5c5c;
    transition: all .5s;
}

.ctabutton:hover, .ctabutton:checked {
    background-color: var(--white);
    color: var(--black);
    -webkit-box-shadow: inset 2px 2px 4px 0 #8d8d8d;
    box-shadow: inset 2px 2px 4px 0 #8d8d8d;
    transition: all .5s;
}

/* signature */

.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--light-gray);
    padding: 4rem 1rem;
}

#signaturetitle {
    text-transform: uppercase;
}

#signaturetext {
    text-align: justify;
}

#signaturesignature {
    font-family: ;
}

/* mosaic pictures on top */

.block, .picstop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blockreverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* mosaic pictures on bottom */

.picsbottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--black);
    color: var(--medium-gray);
}

footer>div {
    padding: 2rem;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: var(--light-gray);
}

.left img {
    margin-top: 1rem;
}

.left p {
    line-height: 2rem;
    padding-top: 2rem;
}

.singlepost, .singletweet {
    margin-bottom: 1rem;
}

.singletweet {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.singlepost p, .singletweet p {
    margin: 0;
    padding: 0;
}

.singlepost small {
    color: var(--medium-gray);
}

.singletweet i {
    padding-top: .4rem;
}

.searchwrap {
    background-color: var(--dark-gray);
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchwrap input {
    width: 90%;
}

/* responsivo */

/* xs devices */

@media (max-width: 576px) {}

/* sm devices */

@media (max-width: 767px) {
    .heroglass {
        text-align: center;
    }
}

/* md devices */

@media (min-width: 768px) {
    .img-rect {
        width: 50vw;
        height: 25vw;
    }

    .heroglass {
        margin: 0px 4rem;
        padding: 2rem;
    }

    .heroglass p {
        margin-top: 1rem;
    }

    .ctabutton {
        margin: 1rem 0 0 0;
        padding: 1rem 1.5rem;
    }

}