@charset "UTF-8";

/* Código Front (https://www.codigofront.com.br/)
Copyright 2021-2022 Naira Cirino */

:root {
    /* cores e gradientes */
    --white: #fff;
    --black: #000;

    /* tipografia */
    --sans-serif: 'Coolvetica Rg', sans-serif;
    --serif: 'Coolvetica Condensed Rg', serif;
    --cursive: 'Blabla', cursive;
    --monospace: 'Fulana', monospace;
    font-size: 16px;

    /* comportamento de tela */
    scroll-behavior: smooth;
}

/* erasing browser standards */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* header */

nav, .topnavbar, .topnavlinks {
    display: flex;
    flex-direction: row;
}

.topnavbar {
    justify-content: space-between;
}

/* herobanner */

.herobanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* signature */

.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#signaturetitle {
    text-transform: uppercase;
}

#signaturetext {
    text-align: justify;
}

#signaturesignature {
    font-family: ;
}

/* mosaic pictures on top */

.block, .picstop {
    display: flex;
    flex-direction: row;
}

.blockreverse {
    display: flex;
    flex-direction: row-reverse;
}

/* mosaic pictures on bottom */

.picsbottom {
    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
}